.app {
  background-color: hwb(239 1% 42%);
  padding: 100px 300px;
}

.login-box {
  border: 1px solid blue;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: hwb(220 99% 0%);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.connect-wallet-button {

}

.connect-metamask-button {
  
}